* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body {
	font-family: 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN',
		'Hiragino Sans', Meiryo, sans-serif;
	margin: 0 auto;
	width: 100%;
	height: auto;
	font-size: 24px;
	height: 100%;
}
/* main-content */
.main-content {
	width: 100vw;
	min-height: 100vh;
	display: flex;
}
.main-content__bg {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;
}
/* box */
.box {
	height: 80vh;
	width: calc(80vh * 14 / 9);
	position: relative;
	top: 10vh;
	margin: 0 auto;
}
.box__bg {
	width: 100%;
	height: 100%;
}
.box__content {
	width: 75%;
	height: 80%;
	position: absolute;
	top: 10%;
	left: 12.5%;
}
/* content-list */
.content-list {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
	list-style: none;
	padding: 0;
	margin: 0;
	overflow: scroll;
}
.content-list__tmb {
	width: 24%;
	height: 28%;
}
.content-list__a {
	text-decoration: none;
}
.content-list__img {
	display: block;
	width: auto;
	height: 100%;
	margin: 0 auto;
}
/* info */
.info {
	width: 0;
	height: 100vh;
	background-color: rgba(250, 250, 250, 0.75);
	position: relative;
	top: 0;
	right: 0;
	/* display: none; */
}
/* btns */
.btns {
	/* margin: 0 auto; */
	position: absolute;
	/* height: 100%; */
	/* left: calc((100vw - (80vh * 14 / 9)) / 2 + (80vh * 14 / 9) + 2%); */
	height: 8%;
	width: calc(80vh * 14 / 9);
	left: calc((100vw - (80vh * 14 / 9)) / 2);
	display: flex;
	flex-direction: row-reverse;
	top: 91%;
}
.btns__wrapper {
	height: 80%;
	top: 10%;
}
.btns__btn {
	position: relative;
	width: 8vh;
	height: 8vh;
	/* top: 10%; */
}
.btns__btn img {
	width: 100%;
	height: 100%;
}
.btn--open,
.btn--close {
	top: 10%;
}

.btn--sort--selected {
	/* display: none; */
}
.btn--disp {
	/* btns__btnのheight×3個分 */
	/* top: calc(90% - 18vw - 3%); */
}
.btn--sort {
	right: 2%;
}

/* アニメーション */
.info--in {
	animation: info--in 0.8s;
	animation-fill-mode: forwards;
}
.info--out {
	animation: info--out 0.8s;
	animation-fill-mode: forwards;
}
.fade--in {
	animation: fade--in 0.8s;
	animation-fill-mode: forwards;
}
.fade--out {
	animation: fade--out 0.8s;
	animation-fill-mode: forwards;
}
@keyframes info--in {
	100% {
		width: 30%;
	}
}
@keyframes info--out {
	100% {
		width: 0%;
	}
}
@keyframes fade--in {
	100% {
		opacity: 1;
	}
}
@keyframes fade--out {
	100% {
		opacity: 0;
	}
}

/* よく使うスタイル */
.disp--none {
	display: none;
}

/* PCのメディアクエリ  */

/* widthがheight(80vh)の14/9より小さくなったら */
/* 左右のマージンが取れなくなるので */
/* 箱を正方形に変更 */
/* width : height = 1 : 80/100(vh) × 14/9 = 56:45*/
@media screen and (max-aspect-ratio: 56/45) {
	.box {
		height: 80vh;
		width: 80vw;
		/* left: 10vw; */
		margin: 0 auto;
	}
	.content-list__tmb {
		width: 28%;
		height: 24%;
	}
	.btns {
		width: 80vw;
		left: 10vw;
	}
}

/* タブレットのメディアクエリ  */
@media screen and (min-width: 600px) and (max-width: 1024px) and (max-aspect-ratio: 56/45) {
	.content-list__tmb {
		width: 32%;
		height: 22%;
	}
}
/* SPのメディアクエリ  */
@media screen and (max-width: 599px) {
	html {
		font-size: 12px;
	}
	.box {
		height: calc(80vw * 14 / 9);
		top: 0;
		margin: auto;
	}
	.btns {
		top: calc((100vh - 80vw * 14 / 9) / 2 - 10%);
	}
	.content-list__tmb {
		width: 46%;
		margin-bottom: 5%;
	}
	.content-list__dummy {
		display: none;
	}
}

/* リスト表示の時に付与するクラス */
/* メディアクエリより下に記述 */
/* リストの時はダミー画像隠す */
.content-list--list {
	overflow: scroll;
}
.content-list__tmb--list {
	width: 100%;
	margin-bottom: 3.3%;
	background-color: rgba(250, 250, 250, 0.3);
}
.content-list__a--list {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
}
.content-list__img--list {
	margin: 0 5% 0 0;
}
.content-list__p--list {
	display: inline-block;
	font-size: 2rem;
	margin: auto 0;
	color: #e6e6e6;
}
.content-list__dummy--list {
	display: none;
}

/* アイコン並び替え時のスタイル */
.dragover--grid {
	border-left: 2rem solid rgba(0, 255, 255, 0.5);
}
.dragover--list {
	border-top: 2rem solid rgba(0, 255, 255, 0.5);
}

/* アイコンにホバーしたら */
.content-list__tmb:hover {
	opacity: 0.6;
}

/* ボタンホバーしたら */
.btns__btn:hover {
	opacity: 0.6;
}
